*{
    padding: 0;
    margin: 0;
}
a{
   color: white;
   background-color: blue;
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   margin: 300px 400px 500px 300px;
   border: 5px solid red;
}